<!DOCTYPE html>
<html>

<head> 
	<% include partials/plantillas/head.ejs %> 
</head>

<body>

	Bienvenido a <small> <%= title %>! ;) </small>	


<% include partials/plantillas/jsdefault.ejs %> 
</body>
</html>